<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="search" v-model="cari" @blur="daftar = false" placeholder="Masukkan kata kunci" />
        <ul>
            <li v-for="book in hasilPencarian">
                {{ book }}
            </li>
        </ul>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            daftar : false ,
            cari : '' ,
            books : [
                'Kalkulus Dasar' ,
                'Fisika Dasar' ,
                'Aljabar Linear Elementer' ,
                'Aljabar Abstrak' ,
                'Algoritma Pemrograman'
             ]
        } ,
        computed: {
            hasilPencarian() {
                return this.books.filter(book => book.toLowerCase().includes(this.cari.toLowerCase()))
            }
        },
        watch: {
            cari() {
                this.daftar = true
            }
        }
    })
    </script>
</body>
</html>